@charset "UTF-8";
.layout-container {
	height: 100%;
	width: 100%;
	display: flex;
}
.layout-container .layout-sidenav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 240px;
	transition: .3s;
	z-index: 9999;
}
.layout-container .layout-sidenav
.layout-title {
	height: 64px;
	width: 240px;
	padding: 0px 8px;
	display: flex;
	align-items: center;
}
.layout-container .layout-sidenav.active {
	left: 0;
}
.layout-container .layout-sidenav__container {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.6);
	z-index: 9998;
	display: none;
}
.layout-container .layout-sidenav__container.active {
	display: block;
}
.layout-container .layout-body {
	height: 100%;
	flex-grow: 1;
	margin-left: 240px;
	transition: .3s;
}
.layout-container .layout-body
.layout-body__header {
	height: 64px;
}
.layout-container .layout-body
.layout-body__header 
.layout-body__header-row {
	height: 64px;
	width: 100%;
	line-height: 64px;
	display: flex;
	align-items: center;
}
.layout-title .btn {
	height: 32px;
	width: 32px;
	padding: 0;
	background: transparent;
	box-shadow: none;
	border-radius: 50%;
}
.layout-container .layout-body
.layout-body__header 
.layout-body__header-row
.layout-title {
	height: 64px;
	max-width: 240px;
	padding: 0px 8px;
	display: none;
	align-items: center;
}
.layout-title .logo-img {
	height: 100%;
	width: auto;
	padding: 4px 0px;
}
.layout-container .layout-body
.layout-body__content {
	max-height: calc(100% - 64px);
	overflow-y: auto;
	padding: 16px 8px;
}
@media (max-width: 991px) {
	.layout-container .layout-sidenav {
		left: -240px;
	}
	.layout-container .layout-body
	.layout-body__header 
	.layout-body__header-row
	.layout-title {
		display: flex;
	}
	.layout-container .layout-body {
		margin-left: 0px;
	}
}